
<div class="jumbotron"><h1>Welcome to my application</h1>
<p>It will be a blast!</p>
<%=link_to 'about', home_about_path, class: 'btn btn-primary' %>
<%=link_to 'index', root_path, class: 'btn btn-default' %>
</div>

